<%- include('header', {pagetitle: "Bookings"}) -%>
<div class="row" style="padding-top: 20px;">
    <pre style="color: white">
        This is where you can find the bookings.
    </pre>

</div>

object test;
<div class="row">
    <div class = "col-sm">
        <table class = "table-dark table-hover" cellpadding="10" border="3" style="border-color: #923877; background-color: #10153a;">
            <caption style="color: #10153A">List of bookings</caption>
            <thead>
            <tr style="color: #FFFFFF">
                <td>
                    <h5>Booking ID</h5>
                </td>
                <td>
                    <h5>Room ID</h5>
                </td>
                <td>
                    <h5>Name</h5>
                </td>
                <td>
                    <h5>Time of stay</h5>
                </td>
                <td>

                </td>

            </tr>
            </thead>



            <tr style="color: #FFFFFF">
                <td>
                    0000001
                </td>
                <td>
                    002
                </td>
                <td>
                    James Panda
                </td>
                <td>
                    10.12 - 11.01
                </td>
                <td>
                    <a href="/bookings/mod/001"><i class="far fa-edit" style="color: #FFFFFF"></i>
                        <a href="/bookings"><i class="far fa-calendar-times" style="color: #FFFFFF" ></i>
                </td>


            </tr>
            <tr style="color: #FFFFFF">
                <td>
                    0000002
                </td>
                <td>
                    001
                </td>
                <td>
                    Earl Grey
                </td>
                <td>
                    10.24 - 11.01
                </td>
                <td>
                    <a href="/bookings/mod/002"><i class="far fa-edit" style="color: #FFFFFF"></i>
                        <a href="/bookings"><i class="far fa-calendar-times" style="color: #FFFFFF" ></i>
                </td>


            </tr>
            <tr style="color: #FFFFFF">
                <td>
                    0000003
                </td>
                <td>
                    002
                </td>
                <td>
                    James Panda
                </td>
                <td>
                    11.04 - 11.06
                </td>
                <td>
                    <a href="/bookings/mod/003"><i class="far fa-edit" style="color: #FFFFFF"></i>
                        <a href="/bookings"><i class="far fa-calendar-times" style="color: #FFFFFF" ></i>
                </td>

            </tr>
        </table>

    </div>
    <div class = "col-sm">
        <a href = "/bookings/add"><button type="button" class="btn btn-primary btn-lg" style="background-color: #923877; border-color: #923877">New booking</button>

    </div>

</div>

</div>

</body>
</html>