<%- include('header', {pagetitle: "Edit room"}) -%>


</div>
<div class="row" style="padding-top: 20px;">
    <h2 style="color: white">

    </h2>

</div>

<div class="row" style="padding-top: 20px;">
<div class = "col-3">

    <div class="form-group">
        <label for="formGroupExampleInput">ID:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="007" readonly>



        <div class="form-group" id="formCheckGroup">
            <label for="formCheckGroup">Price range:</label>
            <div class="form-check" >
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    $
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    $$
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    $$$
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                    $$$$
                </label>
            </div>
        </div>
        <div class="form-group">

        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Under cleaning
            </label>
        </div>





    </div>
</div>
</div>
<div class = "row">
    <a href = "/rooms"><button type="button" class="btn btn-primary btn-lg" style="background-color: #10153A; border-color: #10153A;">Done</button>
        <a href = "/rooms"><button type="button" class="btn btn-outline-secondary btn-lg" style=" border-color: #10153A; color: #10153A;">Cancel</button>

</div>

</body>
</html>