<%- include('header', {pagetitle: "Edit booking"}) -%>


</div>
<div class="row" style="padding-top: 20px;">
    <h2 style="color: white">

    </h2>

</div>

<div class="row" style="padding-top: 20px;">
<div class = "col-3">

    <div class="form-group">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="guestSelect" style="background-color: #FF2281; color: #ffffff">Guest</label>
            </div>
            <select class="custom-select" id="guestSelect" style="color: #011ffd; background-color: #FFFFFF">

                <option selected >Choose...</option>

                <% for(key in guest_array) { var one_guest = guest_array[key]; %>


                <option >
                    <%= one_guest.name %>
                </option>
                <%}%>




            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="roomSelect" style="background-color: #FF2281; color: #ffffff">Room</label>
            </div>
            <select class="custom-select" id="roomSelect" style="color: #011ffd; background-color: #FFFFFF">
                <option selected>Choose...</option>
                <% for (key in room_array){var one_room = room_array[key]; %>
                <option >
                    <%= one_room.name + " - " + one_room.category%>
                    </option>

                <%}%>

            </select>
        </div>




        <label for="inputStartDate">Start date</label>
        <input type="date" id="inputStartDare" class="form-control">

        <label for="inputEndDate">End date</label>
        <input type="date" id="inputEndDate" class="form-control">
        <small id="enddatehelp" class="form-text text-muted">
            The end date should be after the start date. Emphasis on should be, we are too lazy to check at the moment.
        </small>


    </div>
</div>
</div>
<div class = "row">
    <input type="submit" class="btn btn-primary btn-lg" style="background-color: #011ffd; border-color: #011ffd; color: #ffffff" ></input>
        <a href = "/bookings"><button type="button" class="btn btn-outline-secondary btn-lg" style=" border-color: #011ffd; color: #011ffd;">Cancel</button>

</div>

</body>
</html>