<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pagetitle %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style type="text/css">
        .navbar {


        }
        body{
            padding-top: 50px;
            margin-left: 30px;
            margin-right: 30px;
            background-color: #2C3531;

        }
    </style>
</head>
<body >
<div class ="container">
    <div class="row align-bottom ">
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top " style = "background-color:#116466; " >





            <i class="fas fa-hippo" style="color: #D1E8E2;"></i>
            <a class="navbar-brand" href="/" style="color: #D1E8E2;">Hippo Hotel</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color: #D1E8E2;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/rooms" style="color: #D1E8E2;">Rooms <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/guests" style="color: #D1E8E2;">Guests <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/bookings" style="color: #D1E8E2;">Bookings <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>


</div>