<%- include('header', {pagetitle: "Main page"}) -%>
<div class="row" style="padding-top: 20px;">
    <h2 style="color: white">
        Welcome to the main page
    </h2>

</div>
<div class="row">
    <pre style="color: white">
        You have just logged in.
        The site is under construction at the moment, please be patient.
    </pre>

</div>


</div>

</body>
</html>