<%- include('header', {pagetitle: "Login page"}) -%>
    </div>
    <div class="row" style="padding-top: 20px; align-content: center">
        <form>
            <div class="form-group">
                <label for="exampleUserName" style="color: #FFFFFF">Username</label>
                <input type="username" class="form-control" id="exampleUserName" aria-describedby="emailHelp" placeholder="Enter username">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" style="color: #FFFFFF">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
            </div>

           <button type="submit" class="btn btn-primary" style="background-color:#10153A; color: #FFFFFF" >Submit</button>
        </form>

    </div>

