<%- include('header', {pagetitle: "Rules"}) -%>

</div>
<div class="row" style="padding-top: 20px;">
    <h2 style="color: white">
        Hippo Hotel rules
    </h2>

</div>
<div class="row">
    <pre style="color: white">
        When the rules are all agreed upon, we will post them here.
        Have a nice day :)
    </pre>

</div>


</div>

</body>
</html>